# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
**Objectives:**

- python

- R

- SQL

## Some of the commonly used libraries used by Data Scientists include:

1. sk-learn

2. pytorch

3. numpy

4. pandas

## Data Science Tools

1. vs code
2. Rstudio
3. jupyter
4. Google Colab
5. github
6. Oracle database

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
(3+2)

5

In [4]:
(3*2)

6

In [5]:
(6/2)

3.0

In [6]:
(6-2)

4

In [7]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Utsav